{% extends "base_profile.html" %}

{% block content %}
<div class="order-summary-section">
    <h1>{{ _("Change Your Billing Address") }}</h1>
    <div class="payment">
        <form data-toggle="validator" role="form" data-focus="false" data-disable="false" class="col-lg-7 col-md-7" method="post" action="{{ url_for("OrderView:index", lang_code=g.current_lang) }}">
            {{ order_form.csrf_token }}
            <div class="form-group">
                {{ order_form.first_name.label(class_="control-label") }}:
                {{ order_form.first_name(class_="form-control", required=True) }}
            </div>
            <div class="form-group">
                {{ order_form.last_name.label(class_="control-label") }}:
                {{ order_form.last_name(class_="form-control", required=True) }}
            </div>
            <div class="form-group">
                {{ order_form.company.label(class_="control-label") }}:
                {{ order_form.company(class_="form-control", placeholder=_("optional")) }}
            </div>
            <div class="form-group">
                {{ order_form.street.label(class_="control-label") }}:
                {{ order_form.street(class_="form-control", required=True) }}
            </div>
            <div class="form-group">
                {{ order_form.city.label(class_="control-label") }}:
                {{ order_form.city(class_="form-control", required=True) }}
            </div>
            <div class="form-group">
                {{ order_form.state.label(class_="control-label") }}:
                {{ order_form.state(class_="form-control", placeholder=_("optional")) }}
            </div>

            <div class="form-group">
                {{ order_form.postal_code.label(class_="control-label") }}:
                {{ order_form.postal_code(class_="form-control", required=True) }}
            </div>
            <div class="form-group">
                <label for="country" class="control-label">{{ _("Country:") }}</label>
                <div class="selects">
                    {{ order_form.country(class_="tags", required=True) }}
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary red-button">{{ _("Save Changes") }}</button>
                <button type="reset" class="btn btn-primary grey-button" onclick="history.go(-1);">{{ _("Cancel") }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts_under_content %}
    <script src="{{ url_for(".static", filename="assets/plugins/validator/validator.min.js") }}"></script>
    <script src="{{ url_for(".static", filename="assets/plugins/jQueryFormStyler-master/jquery.formstyler.min.js") }}"></script>
    <script src="{{ url_for(".static", filename="assets/js/orderSummaryCtrl.js") }}"></script>
{% endblock %}
