{% extends "base_profile.html" %}

{% from "macros/field_errors.html" import field_errors %}

{% block content %}
<div id="profile-change-password" class="tab-pane fade in active">
    <h1>{{ _("Change Password") }}</h1>
    <form data-toggle="validator" role="form" data-focus="false" data-disable="false" action="" method="post" action="{{ url_for("ProfileView:change_password", lang_code=g.current_lang) }}">
        {{ change_password_form.csrf_token }}
        <div class="form-group{% if change_password_form.current_password.errors %} has-error{% endif %}">
            {{ change_password_form.current_password.label(class_="control-label") }}
            {{ change_password_form.current_password(class_="form-control", required=True, data_minlength="6") }}
            {{ field_errors(change_password_form.current_password.errors) }}
        </div>
        <div class="form-group">
            <div class="form-group">
                {{ change_password_form.new_password.label(class_="control-label") }}
                {{ change_password_form.new_password(class_="form-control", required=True, data_minlength="6") }}
            </div>
            <div class="form-group">
                {{ change_password_form.new_password_confirm.label(class_="control-label") }}
                {{ change_password_form.new_password_confirm(class_="form-control", required=True, data_match="#new_password", data_minlength="6") }}
            </div>
        </div>
        <div class="form-group">
            {{ change_password_form.change_password_btn(class_="btn btn-primary red-button") }}
            <button type="reset" class="btn btn-primary grey-button" onclick="history.go(-1);">{{ _("Cancel") }}</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts_under_content %}
    <script src="{{ url_for(".static", filename="assets/plugins/validator/validator.min.js") }}"></script>
{% endblock scripts_under_content %}
