{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div TYPE=HEADER>
                    <p LANG="en-GB" STYLE="margin-bottom: 0.36in"><A NAME="bmStrictlyPrivateLine"></A>
                    <BR><BR>
                    </p>
                </div>

                <div class="unsuccessful-content">
                    <p LANG="en-GB" CLASS="western" STYLE="line-height: 100%"><A NAME="_GoBack"></A>
                    <p class="p-declined">{{ _("Payment Declined") }}</p>
                    <img class="img-declined" src="{{ url_for(".static", filename="assets/img/payment-declined/ko.png") }}" alt="logo"/>
                    <p class="p-declined-text">{{ _("Please, contact your bank support.") }}</p>
                </div>

                <div TYPE=FOOTER>
                    <p LANG="en-GB" STYLE="margin-top: 0.72in; margin-bottom: 0in; line-height: 100%">
                        <span ID="Frame1" DIR="LTR" STYLE="position: absolute; top: 0in; left: 0in; width: 0.02in; border: none; padding: 0in; background: #ffffff">
                            <p LANG="en-GB" STYLE="margin-bottom: 0in; border: none; padding: 0in; line-height: 100%"></p>
                        </span>
                        <sdfield TYPE=DOCINFO SUBTYPE=THEME SDFIXED></sdfield>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts_under_content %}
    <script type="text/javascript" charset="utf-8">
        var current_lang = '{{ g.current_lang }}';
    </script>
{% endblock scripts_under_content %}

