.left-menu {
    border: 1px solid #dddddd;
    border-radius: 4px;
    overflow: hidden;
}

.left-menu > li {
    float: none;
    height: 31px;
}

.left-menu > li.active > a, .left-menu > li.active > a:focus, .left-menu > li.active > a:hover {
    border: none;
    border-radius: 0;
    margin: 0;
    color: #fff;
    background-color: #64676b;
}

.left-menu > li a {
    font-size: 15px;
    color: #64676b;
    height: 31px;
}

.left-menu > li > a:focus, .left-menu > li > a:hover {
    text-decoration: none;
    background-color: rgba(238, 238, 238, 0.3);
}

.left-menu > li > a {
    line-height: 9px;
    border: none;
    border-radius: 0;
}